In [86]:
from nfl import date as nfl_date

In [87]:
d1 = nfl_date.truncate_date(pd.to_datetime('2015-10-16'))
d2 = nfl_date.truncate_date(pd.to_datetime('2015-10-13'))
d1, d2

(Timestamp('2015-10-14 00:00:00'), Timestamp('2015-10-07 00:00:00'))

In [88]:
dates = nfl_date.get_reg_season_weeks()

[Mongo] On extraction of document #10000

## Verification

This link is helpful: http://www.nfl.com/schedules/2001/REG17

In [89]:
# Make sure week numbers are between 1 and 17
dmin, dmax = dates['WeekNumber'].min(), dates['WeekNumber'].max()
assert dmin == 1
assert dmax == 17

In [90]:
# Make sure there are 17 weeks for every year (and that all years are present)
min_year, max_year = games['Year'].min(), games['Year'].max()
matches = dates.groupby('Year').apply(lambda x: sorted(x['WeekNumber'].unique()) == list(range(1, 18)))
assert np.all(matches)
assert sorted(matches.index.values) == list(range(min_year, max_year + 1))

In [84]:
# Spot check certain date and week pairs at the beginning and end of the season
year = 2014
dates[(dates['Year'] == year) & (dates['WeekNumber'] < 3)].sort('Date')

     Year       Date  WeekNumber
814  2014 2014-09-04           1
796  2014 2014-09-07           1
780  2014 2014-09-08           1
801  2014 2014-09-11           2
781  2014 2014-09-14           2
818  2014 2014-09-15           2

In [85]:
dates[(dates['Year'] == year) & (dates['WeekNumber'] > 15)].sort('Date')

     Year       Date  WeekNumber
820  2014 2014-12-18          16
826  2014 2014-12-20          16
794  2014 2014-12-21          16
811  2014 2014-12-22          16
795  2014 2014-12-28          17